
body {
    background-color: rgb(24, 24, 24);
  }
a
{
    color: #747474;
    text-decoration: none;
}

a:hover
{
    color: #ffffff;
}
.container{
    margin: auto;
    /* background: white; */
    padding: 10px;
}

li.head_button{
    font-size: 20px;
    line-height: 60px;
    margin: 0px;
    padding: 5px;
    list-style: none;
}

ul{
    list-style: none;
    margin: auto 0;
    padding: 0;
    display: flex;
    flex-direction: row;
}

div.header{
    width: 100%;
    max-width: 800px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: auto;
}

img.logo{
    height: 60px;
    padding: 10px;
    border-radius: 20px;
    color: #202020;
    align-self: flex-end;
}

.subtitle
{
    font-size: 20px;
    color: #747474;
    margin: 0px;
    padding: 0px;
}

h1{
    color: rgb(255, 255, 255);
    font-size: 70px;
    margin: 0px;    
    padding: 0px;
    
}

.item:hover{
    background-color: #303030;
}

.item
{
    margin: 10px;
    padding: 10px;
    border-radius: 8px;
    background-color: #202020;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}

.item_title{
    font-size: 20px;
    margin: 0px;
    padding: 0px;
    color : #ffffff;
}

.item_date{
    font-size: 15px;
    margin: 0px;
    padding: 0px;
    float: right;
}

.hehe{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color:rgb(22, 22, 22);;
    padding: 0px;
}

div.all{
    width: 100%;
    max-width: 800px;
    background-color: rgb(24, 24, 24);
    font-family: Consolas;
    color:white;
    margin: auto;
}
