
body
{
	background-color: #dfdfdf;
	font-family: Roboto;
	font-size: 1em;
	font-style: 900;
	margin: 10px;
}

.top
{
	display: flex;
	flex-wrap : nowrap;;
	background-color: rgb(255, 255, 255);
	border-bottom-width: 10;
	border-bottom: grey solid;
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 10px;
	border-radius: 10px;
}

.banniere
{
	padding: 50px;
    background: url(images/banner.jpg) fixed center;
	opacity: 0.5;

}

.photograph
{
	padding: 10px;
	border: grey solid;
	border-width: 10;
	border-radius: 20px;
	margin: 10px;
}

p
{
	text-align: justify;
}

h1
{
	color: black;
	font-size: 2em;
	text-align: center;
}

a
{
	color: black;
	text-decoration: none;
	font-style: italic;
}

.title
{
	text-align: left;
}

em
{
	color: #A5B4FC;
}

.logo {
    display: inline-block;
    transform: rotate(0deg);
    transition: transform 0.7s;
}

.logo:hover {
    transform: rotate(180deg) scale(0.5);
	filter: blur(2px);
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(60deg);
    }
}